asgiref
certifi
chardet
dj-database-url
Django
django-paypal
djangorestframework
docx
feedparser
gunicorn
idna
lxml
Pillow
psycopg2
PyMySQL
python-docx
pytz
reportlab
requests
sgmllib3k
six
sqlparse
typing-extensions
urllib3
whitenoise
django-jazzmin
pydub

