{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="my-account">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9">
				<div class="table-responsive">
					<table class="table-bordered table">
						<thead>
							<tr style="text-align: end; font-weight: bolder;">
								<th>التاريخ</th>
								<th>تم الدفع</th>
								<th>اجمالي الفاتورة</th>
								<th>رقم الاوردر</th>
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}
							<tr style="text-align: end; font-weight: bolder;">
								<td>{{order.order_dt}}</td>
								<td>{{order.paid_status}}</td>
								<td>{{order.total_amt}} L.E</td>
								<td><a href="{% url 'my_order_items' order.id %}" class="btn btn-sm btn-dark">{{order.id}}</a></td>							
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		<div class="col-md-3" >
			{% include 'user/user-sidebar.html' %}
		</div>
	</div>
</div>
</div>
{% endblock %}