{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>ميدياتك</title>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.7">	
	<meta name="theme-color">
    
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Source+Code+Pro:700,900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet">
        <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet">

        <!-- Template Stylesheet -->
        <!-- <link href="css/style.css" rel="stylesheet"> -->


	<link rel="stylesheet"  href="{% static 'style.css' %}" />
    <script type="text/javascript" src="{% static 'jquery.min.js' %}"></script>
  

	<script type="text/javascript" src="{% static 'custom.js' %}"></script>
</head>
<body>

            <!-- Nav Bar Start -->
            <div class="nav ">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                        <a href="#" class="navbar-brand">MENU</a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
    
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"  style="font-size: 17px; font-weight: bolder;">حسابي</a>
                                <div class="dropdown-menu" style="font-size: 17px; font-weight: bolder;">
                                {% if user.is_authenticated %}
                                    <a   href="/my-orders" class="dropdown-item">حسابي</a>
                                    <a href="{% url 'logout' %}" class="dropdown-item">تسجيل الخروج</a>
                              
                                {% else %}
                                    <a href="{% url 'login' %}" class="dropdown-item">تسجيل دخول</a>
                                    <a href="{% url 'signup' %}" class="dropdown-item">انشاء حساب</a>
                                {% endif %}
                                </div>
                            </div>
                            <div class="navbar-nav ml-auto" >
                                <div class="navbar-nav mr-auto">
                                    {% if user.is_superuser %}
                                    <a target="_blank" href="/admin" class="nav-item nav-link" style="font-size: 17px; font-weight: bolder;">لوحة التحكم</a>
                                    {% endif %}
                                    <a href="/contact" class="nav-item nav-link" style="font-size: 17px; font-weight: bolder;">تواصل معنا</a>
                                    <a href="/my-orders" class="nav-item nav-link" style="font-size: 17px; font-weight: bolder;">حسابي</a>
                                    <a href="/wishlist" class="nav-item nav-link" style="font-size: 17px; font-weight: bolder;">المفضلة</a>
                                    <a href="/cart" class="nav-item nav-link" style="font-size: 17px; font-weight: bolder;">العربة</a>
                                    <a href="/product_list" class="nav-item nav-link" style="font-size: 17px; font-weight: bolder;">المنتجات</a>
                                    <a href="/" class="nav-item nav-link " style="font-size: 17px; font-weight: bolder;">الصفحة الرئيسية</a>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Nav Bar End -->     
             <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="user">
                            <a href="/wishlist" class="btn wishlist">
                                <i class="fa fa-heart"></i> 
                            </a>
                            <a href="{% url 'cart' %}" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                (<span class="cart-list">{{request.session.cartdata|length}}</span>)
                            </a>
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                    <form action="/search">
                        <div class="search">
                            <input name="q" type="text" placeholder="Search">
                            <button type="submit" id="button-addon2"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                    </div>
                    
                    <div class="col-md-3">
                        <div class="logo" style="margin-left: 110px;">
                            <a href="/" >
                                <img src="{% static 'logo3.PNG' %}" alt="Logo" width="150px">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->       

    
    {% block content %}
	
    {% endblock content %}
        <!-- Footer Start -->
        <div class="footer" style="margin-top: 212px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>تواصل معنا</h2>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>Fifth Settlement, New Cairo, Egypt</p>
                                <p><i class="fa fa-envelope"></i>email@example.com</p>
                                <p><i class="fa fa-phone"></i>+123-456-7890</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>تابعنا</h2>
                            <div class="contact-info">
                                <div class="social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>معلومات عن الشركة</h2>
                            <ul>
                                <li><a href="#">معلومات عنا</a></li>
                                <li><a href="#">سياسة الخصوصية</a></li>
                                <li><a href="#">الشروط والاحكام</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>طريقة الدفع</h2>
                            <ul>
                                <li><a href="#">دفع الكتروني</a></li>
                                <li><a href="#">كاش</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="row payment align-items-center">
                    <div class="col-md-6">
                        <div class="payment-method">
                            <img src="{% static 'payment-method.png' %}" alt="Payment Method" />
                            <h2>: نحن نقبل</h2>
                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="payment-security">
                            <img src="{% static 'godaddy.svg' %}" alt="Payment Security" />
                            <img src="{% static 'norton.svg' %}" alt="Payment Security" />
                            <img src="{% static 'ssl.svg' %}" alt="Payment Security" />
                            <h2>: بضمان</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
        
        <!-- Footer Bottom Start -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 copyright">
                        <p>Copyright &copy; <a href="">2021-2022</a>. All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->       
        
        <!-- Back to Top -->
        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

                <!-- JavaScript Libraries -->
                <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
                <script src="{% static 'lib/easing/easing.min.js' %}"></script>
                <script src="{% static 'lib/slick/slick.min.js' %}"></script>
                
             
                <script src="{% static 'main.js' %}"></script>
    </body>
    </html>
