{% extends 'base.html' %}
{% load static %}
{% block content %}

<h3 class=" pb-1 text-center">
	المنتجات
</h3>
<hr>
<div class="product-view" style="margin-left: 190px;">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-9">
			 <div class="row">
				{% for product in data %}
							<div class="col-md-4">
								<div class="product-item">
									<div class="product-title" style="height: 100px;">
										<a href="/product/{{product.slug}}/{{product.id}}">{{product.title}}</a>
										<div class="ratting">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</div>
									</div>
									<div class="product-image">
										<a href="/product/{{product.slug}}/{{product.id}}">
											<img src="{{product.productattribute_set.first.image.url}}" alt="" height="320px">
										</a>
										<div class="product-action">
											<a class="btn add-to-cart" data-index="{{product.id}}"><i class="fa fa-cart-plus"></i></a>
											<a class="btn add-wishlist" data-product="{{product.id}}"><i class="fa fa-heart"></i></a>
											<a href="/product/{{product.slug}}/{{product.id}}"><i class="fa fa-search"></i></a>
										</div>
									</div>
									<div class="product-price">
										<h3 class="product-price-{{product.id}}">{{product.productattribute_set.first.price}}</h3> <h3>L.E</h3> 
										<input type="hidden" value="1" class="form-control product-qty-{{product.id}}" id="productQty" />
										<input type="hidden" class="product-image-{{product.id}}" value="{{product.productattribute_set.first.image.url}}"  height="260px" />
										<input type="hidden" class="product-id-{{product.id}}" value="{{product.id}}" />
										<input type="hidden" class="product-title-{{product.id}}" value="{{product.title}}" />
										<a class="btn add-to-cart" data-index="{{product.id}}"><i class="fa fa-shopping-cart"></i>اضف الى العربه</a>
										
									</div>
								</div>
							</div>
							{% endfor %}
			</div>
		</div>
	</div>
</div>
</div>

{% endblock %}